/* google font intet anek bangla hind siliguri */
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-anek {
  font-family: "Anek Bangla", sans-serif;
}
.font-hind {
  font-family: "Hind Siliguri", sans-serif;
}
.notification-tab > .active {
  @apply text-blue-500 border-b-blue-500 hover:text-blue-500;
}
.order-tab > .active {
  @apply bg-blue-500 text-white hover:text-white;
}
.delivery-tab > .active {
  @apply bg-blue-500 text-white hover:text-white;
}
.main.active {
  @apply md:w-full md:ml-0;
}

